body {
    background-color: lightblue;
    font-family: 'Source Serif Pro', serif;
  }

  #result{
      color: brown;
  }

  .form{
    font-family: 'Kaushan Script', cursive;
  }

  nav {
    display: block;   
  }

  .navigation{
      padding-top: 10%;
  }